#parent-container{
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  padding :80px;
  
}
#child-container{
  width: 500px;
  height: 500px;
  
  background-color: green;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 5px 5px 7px rgb(0, 0,0,0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1px;
}
.header{
  text-align: center;
}
.input{
  padding :20px;
  margin:20px ;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.5s ease;
}
.input:hover{
  border-color: red;
}
.btnlend{
  margin: 0 auto;
  padding: 20px ;
  border: 1px solid black;
  border-radius: 10px;
  background-color:black;
  color :white;
  font-weight: bold;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
.btnlend:hover{
  background-color: red;
}